.bookmark {
  margin: 10px auto;
  white-space: nowrap;
  font-size: 120%;
  cursor: pointer;
  .title {
    padding: 5px auto;
  }
  .url {
  }
}

.box {
  width: 500px;
}

.shadow {
  // box-shadow: 0 10px 6px -6px #777;
}
