body {
}

.bookmark {
  white-space: nowrap;
  font-size: 130%;
  .title {
    padding: 5px auto;
  }
  .url {
  }
}

.box {
  margin: 10px auto;
}

.box-shadow {
  // box-shadow: 0 10px 6px -6px #777;
}
